@import '../../style-constants.scss';

.wrap {
    padding-bottom: 5%;
  
    .row {
      margin-right: 0px;
  
      .form-wrapper {
        margin: 0 auto;
      }
    }
  
    .register-form {
      margin-top: 10vh;
      padding: 15% 15%;
      padding-top: 7%;
      border-radius: 13px;
      border: 2px solid $primary-color;
      color: $primary-color;
  
      .register-heading {
        text-align: center;
        margin-bottom: 10%;
      }
  
      .link {
        margin-top: 30px;
        cursor: pointer;
      }

      .register-btn{
        margin-top: 20px;
        background-color: $primary-color;
        color: $secondary-color;
        border: none;
        font-size: 18px;
      }

      .form-group{
        margin-bottom: 20px;
      }

      .phone {
        display: flex;

        .code {
          flex: 0 0 20%;
          margin: 0;
          border-right: none;
        }
      }

      .selection{
        display: flex;
        flex-wrap: wrap;

        label{
          flex: 0 0 100%;
        }
      }
    }
  }