@import '../../style-constants.scss';

.reset-password {
    padding-bottom: 5%;
  
    .row {
      margin-right: 0px;
  
      .form-wrapper {
        margin: 0 auto;
      }
    }
  
    .reset-password-form {
      margin-top: 10vh;
      padding: 15% 15%;
      padding-top: 7%;
      border-radius: 13px;
      border: 2px solid $primary-color;
      color: $primary-color;
  
      .heading {
        text-align: center;
        margin-bottom: 10%;
      }

      .success{
        color: green;
      }

      .reset-pass-btn{
        margin-top: 20px;
        background-color: $primary-color;
        color: $secondary-color;
        border: none;
        font-size: 1.3rem;

        &:hover{
          color: $primary-color;
          background-color: $secondary-color;
        }
      }

      .error{
        color: red;
        margin-top: 40px;
      }
    }
  }