@import '../../style-constants.scss';

.file-upload {
    text-align: center;
  
    input {
      display: none;
    }

    .btn {
        margin-top: 20px;
        background-color: $primary-color;
        color: $secondary-color;
        border: none;
        font-size: 18px;
      
        &:hover{
          color: $primary-color;
          background-color: $secondary-color;
        }
    }
  }